<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <link rel="icon" th:href="@{/assets/images/logo/logo.png}">
    
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script type="module" th:src="@{/js/components/patientRows.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>

            <main class="main-content">
                <div class="dashboard-controls">
                    <input type="text" id="searchBar" placeholder="Search Patients..." />
                    <div class="date-filters">
                        <button id="todayBtn">Today's Appointments</button>
                        <input type="date" id="dateFilter">
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="patientTable">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Action</th> </tr>
                        </thead>
                        <tbody>
                            </tbody>
                    </table>
                </div>
            </main>

            <div id="footer"></div>
        </div>
    </div>
    
    <script type="module" src="../js/services/patientServices.js"></script>
    <script type="module" src="../js/doctorDashboard.js"></script>
</body>
</html>
